{% block tetranz_select2entity_widget %}
    {% set attr = attr|merge({
    'data-ajax--url': remote_path,
    'data-ajax--cache': cache ? 'true' : 'false',
    'data-ajax--cache-timeout': cache_timeout|default(0),
    'data-ajax--delay': delay,
    'data-ajax--data-type': "json",
    'data-language' :language,
    'data-theme' :theme,
    'data-minimum-input-length': minimum_input_length,
    'data-placeholder': placeholder|trans({}, translation_domain),
    'data-page-limit': page_limit,
    'data-scroll': scroll ? 'true' : 'false',
    'data-autostart': autostart ? 'true' : 'false',
    'class': (attr.class|default('') ~ ' select2entity form-control')|trim,
    'data-name': name|e('html_attr')
    }) %}

    {% if allow_add.enabled %}
        {% set attr = attr|merge({
        'data-tags': 'true',
        'data-tags-text': allow_add.new_tag_text|trans({}, translation_domain),
        'data-new-tag-prefix': allow_add.new_tag_prefix|trans({}, translation_domain),
        'data-token-separators': allow_add.tag_separators,
        }) %}
    {% endif %}

    {% if multiple %}
        {% set attr = attr|merge({'multiple': 'multiple'}) %}
    {% endif %}

    {% if query_parameters %}
        {% set attr = attr|merge({
			'data-query-parameters': query_parameters|json_encode
		}) %}
    {% endif %}

    {% if allow_clear %}
        {% set attr = attr|merge({'data-allow-clear': 'true'}) %}
    {% endif %}

    {% if width %}
        {% set attr = attr|merge({'data-width': width}) %}
    {% endif %}

    {% if render_html %}
        {% set attr = attr|merge({'data-render-html': 'true'}) %}
    {% endif %}

    {% if class_type %}
        {% set attr = attr|merge({'data-classtype': class_type}) %}
    {% endif %}

    {% apply spaceless %}
        <select {{ block('widget_attributes') }}>
            {% if value is iterable %}
                {% if allow_clear %}
                        <option value=""></option>
                {% endif %}
                {% for id, label in value %}
                    {% block tetranz_select2entity_widget_select_option %}
                        <option value="{{ id }}" selected="selected">{{ label }}</option>
                    {% endblock %}
                {% endfor %}
            {% endif %}
        </select>
    {% endapply %}
{% endblock %}
